* {
    margin: 0px;
    padding: 0px;
    /* color: white; */
}

nav {
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.349);
    position: sticky;
    top: 0;
}

.nav {
    height: 10vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    background-color: rgba(0, 255, 255, 0.349);
}

.left {
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
/* .ham-icon1{
    visibility: hidden;
} */

.right {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

.right ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 10vh;
    list-style: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.login1 {
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.right ul li a {
    text-decoration: none;
    color: black;
}

.right ul li a:hover {
    color: yellow;
}

.ham {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 50px;
    width: auto;
    filter: invert(-1);
}

.nav1 {
    display: block;
    height: 15vh;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.349);
    visibility: hidden;
}

.left1 {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.right1 {
    height: 30vh;
    background-color: rgba(0, 255, 255, 0.349);
    color: black;
    list-style: none;
    visibility: hidden;
}

.right1 ul li {
    margin-top: 8px;
}

.right1 ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 30px;
}

.right1 ul li a:hover {
    color: yellow;
}

.login1 {
    margin: 15px;
}

.left1 h1 {
    font-size: 2.5rem;
    color: black;
}

.ham1 {
    position: absolute;
    top: 25px;
    right: 35px;
    height: 40px;
    width: auto;
    filter: invert(-1);
    display: none;
}

/* Sign in form */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1:hover, .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form {
    width: 80%;
    height: 40vh;
    margin: auto;
    margin-top: 3%;
    padding-top: 3%;
}

.feild {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.feild input {
    width: 90%;
    height: 30px;
}

.feild button {
    margin: auto;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

main {
    z-index: -1;
}

/* home begins from here  */

.home {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
   
}

.h1 {
    width: 50%;
    height: 70vh;
    /* border: 2px solid white; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 h1 {
    color: white;
    font-size: 4.9rem;
    margin: 5px 0px;
}

.h1 h2 {
    margin: 8px 0px;
    font-size: 2.1rem;
}

.h1cnt {
    width: 80%;
    height: 40vh;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h2 {
    width: 40%;
    height: 70vh;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2 img {
    height: 400px;
    width: auto;
}

.join {
    width: 150px;
    height: 50px;
    font-size: 22px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.join:hover {
    transform: scale(0.9);
}

/* home ends here  */

/* bestCourse starts from here  */

.bestCourse {
    height: 180vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid white; */
    flex-direction: column;
}
.courseCard{
    height: 70vh;
    width: 90%;
    border: 2px solid white;
    margin-top: 2vh;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 10px rgba(230, 44, 44, 0.418);
}
.courseCard h2{
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    padding: 10px 30px; 
    border-radius: 20px 0px 0px 0px; 
}
.crCards{
    width: 90%;
    height:58vh ;
    /* border: 2px solid white; */
    margin: 20px auto;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    
}
.crCards::-webkit-scrollbar{
    visibility: hidden;
}
.cards{
    height: 350px;
    width: 280px;
    border: 2px solid white;
    margin: 0px 20px;
    border-radius: 20px;
    background-color: white;
}
.crImg{
    width: 280px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 4px solid black;
}


/* about us starts from here  */

.about{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a1{
    width: 50%;
    height: 70vh;
    /* border: 2px solid white; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.a1 h1{
    color: white;
    font-size: 4.3rem; 
    margin-bottom: 4vh; 
    /* border: 2px solid white;  */
}
.a1 ul{
    font-size: 22px;
    list-style: none;
}
.a1 ul li{
    margin: 12px 0px;

}
.hand{
    height: 20px;
    width: auto;
    padding: 0px 15px 0px 0px;
    /* border: 2px solid white; */
    padding-top: 5px;
}
.points{
    height: 40vh;
    width: 90%;
    padding-left: 3%;
    /* border: 2px solid white; */
}

.a2{
    width: 40%;
    height: 60vh;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* chatbot ki css  */
.chat_icon{
    position: fixed;
    right: 45px;
    bottom: 10px;
    color: rgb(255, 103, 103);
    cursor: pointer;
    z-index: 1000;
}
.chat_icon img{
    height: 100px;
}
.chatbox{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 400px;
    height: 75vh;
    background-image: linear-gradient(#D5EEBB,#7FC8A9);
    z-index: 1000;
    transition: all 0.3s ease-out;
    transform: scaley(0);
    overflow-y:scroll ;
    scroll-behavior: auto;

}
.chatbox::-webkit-scrollbar{
    visibility: hidden;
}
.chatbox.active{
    transform: scaleY(1);
}

.chatbox input {
    height: 30px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    padding: 3px;
    text-align: left;
    position:sticky;
    margin-left: 20px;
    top: 35px;
    
}
.box #chatLog {
    margin: 15px;
    display: block;
    z-index: -1;
    position: absolute;
    top:60px;
}
.chatbox1{
    font-size: 22px;
}

.medForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* position: fixed; */
    top: 23vh;
    visibility: hidden;
    width: 90%;
    margin: auto;
    z-index: -1;
}
#chatLog p{
    height: fit-content;
}
.input{
    margin-bottom: 4px;
    width: 80%;
}
.medForm button{
    width: 100px;
    margin-bottom: 4px;
}
.medForm textarea{
    resize: none;
    height: 100px;
}

 /* yaha pe bot khataam  */

 footer{
     height: 30vh;
     background-color: rgba(0, 255, 255, 0.349);
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }
 .links{
     width: 60%;
     height: 20vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }
 .link1{
     display: flex;
 }
 .link1 img{
     height: 30px;
     width: auto;
     margin: 0px 5px;
 }
